@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');
:root {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);
    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);
    --bs-body-bg: #030712 !important;
    --bs-dark: #000421 !important;
    --p-menubar-background: --bs-dark !important;
    --deep-space-100: oklab(13% -0.008 -0.065);
    --deep-space-200: oklab(16.3% 0.028 -0.061);
    --deep-space-300: oklab(19.3% 0.052 -0.056);
    --deep-space-400: oklab(23.5% 0.079 -0.046);
    --deep-space-500: oklab(30.4% 0.115 -0.033);
    $deep-space-100: #000421;
    $deep-space-200: #110527;
    $deep-space-300: #20062c;
    $deep-space-400: #340732;
    $deep-space-500: #54083d;

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );
    --size: 20px;
    --pill-accent: var(--bright-blue);
    --bs-body-font-family: "Press Start 2P" !important;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --start-btn-radius: 20px;
  }

  html, html * {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),auto !important;
  }
  h1 {
    font-size: 3.125rem;
    color: var(--french-violet);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  p {
    margin: 0;
    color: var(--gray-700);
  }

  main {
    overflow: hidden;
  }
  main {
    width: 100%;
    min-height: 100vh;
    display: flex;    
    flex-direction: column;
    align-items: center;    
    box-sizing: inherit;    
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .contentWrapper{
    padding:0 2rem;    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex: 1 1 auto;

  }

  /* utils */
  .w-100 {
    width:100%;
  }

  .text-center {
    text-align: center;
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }

  
